@use "../utils" as *;

.about {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        @extend %border-left-right;
    }


    &__list {
        list-style: none;
        width: 100vw;
        display: flex;
        @extend %border-top-bottom;
        flex-direction: column;
        align-items: center;
        
        
        
        li {
            position: relative;
            padding: 0rem 2rem;
            padding-bottom: .5rem;
            width: $content-width;
            @extend %font-sec;
            display: flex;
            gap: .5rem;
            @extend %border-left-right;

            &:nth-child(1) {
                padding-top: 1rem;
            }


        }
    }
}