@use "../utils" as *;

// Card and Container . . .

.blog-container-outer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.blog-head {
  width: 100vw;
  position: relative;
  left: 0;
  @extend %border-top-bottom;
  display: flex;
  justify-content: center;

  & h2 {
    @extend %font-sec;
    opacity: .7;
    text-align: start;
    width: $content-width;
    padding: .3rem 1rem;
    font-weight: lighter;

    @extend %border-left-right;


  }

}

.blog-container-inner {
  width: 100vw;
  @extend %border-top-bottom;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.blog-container {
  list-style: none;
  width: $content-width;
  @extend %border-left-right;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));


}

.blog-card {
  padding: 1rem;
  @extend %border-top-bottom;
  @extend %border-left-right;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  gap: .7rem;
  cursor: pointer;
  margin: 1rem;
  border-radius: .5rem;
  transition: background .2s;


  &:hover {
    background: $bg-hover;

    .blog-card-img {
      background: $bg-color;
    }
  }

  .blog-card-img {
    width: 100%;
    aspect-ratio: 2/1;
    border-radius: .5rem;
    @extend %border-top-bottom;
    @extend %border-left-right;
    background: $border-color;
    transition: background .2s;

  }

  .blog-card-title {
    @extend %font-pri;
    font-size: .95rem !important;
    padding-left: .5rem
  }


  .blog-card-date {
    @extend %font-sec;
    font-size: 0.775rem !important;
    color: #cbcbcb;
    padding-left: .5rem
  }

}



// Individual blogs . . .

.jump-back {
  @extend %font-pri;
  font-size: 1.2rem !important;
  letter-spacing: 0px;
  display: flex;

  width: $content-width;
  @extend %border-left-right;
  opacity: .7;
  
  a {
    padding: .5rem 1rem;
    @extend %border-left-right;

    &:hover {
      background: $bg-hover;
    }

  }
}

.single-blog {
  width: $content-width;
  @extend %border-left-right;

  h2 {
    @extend %font-pri;
    font-size: 1rem !important;
    padding: .5rem ;
    text-decoration: underline;
    text-underline-offset: .2rem
  }

  .blog-title {
    @extend %border-top-bottom;
    margin-bottom: 1rem;

    p {
      opacity: .7;
      padding: 0 1rem .5rem;
    }

    h1 {
      @extend %font-pri;
      font-size: 2rem !important;
      width: 100%;

    }
  }


  p {
    @extend %font-sec;
    padding: 0 .5rem;

  }

  li {
    list-style: none;
    padding: .2rem 1rem;
  }
}