@use "../utils" as *;

.navbar {
    display: flex;
    justify-content: center;
    @extend %border-top-bottom;
    width: 100vw;
    position: fixed;
    left: 0;
    background: $bg-color;
    z-index: 9;

    &__list {
        width: 65%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 2rem;
        list-style: none;
        padding: 1rem 0 .5rem;
        padding-right: 4rem;
        @extend %border-left-right;


        li {
            @extend %font-sec;
            cursor: pointer;

            &:not(:hover) {
                opacity: 0.7;
            }
        }
    }
}



