@use "../utils";

.personal-info {
    display: grid;
    width: 65vw;
    height: 15rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;


    .left {
        @extend %border-left-right;
        grid-row: 1 / 3;
    }


    .right-top {
        @extend %border-top-bottom;
    }
}