@use "../utils" as *;

.personal-info {
    display: grid;
    width: $content-width;
    height: 15rem;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}



.left {
    @extend %border-left-right;
    grid-row: 1 / 4;
    padding: .5rem;
    display: grid;
    padding-left: center;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        li {
            list-style: none;
            @extend %font-sec;
            padding: .2rem 1rem;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: .5rem;
        }
    }
}


.link {
    @extend %border-top-bottom;
    @extend %border-left-right;
    cursor: pointer;
    transition: background .3s;
    padding: 1rem;
    @extend %font-sec;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .5rem;

    small {
        font-size: 1.3rem;
        margin-left: auto;
        transition: transform .3s;

    }

    &:hover {
        background: $bg-hover;

        small {
            transform: rotatez(-45deg);

        }

        .icon-wrapper {
            &+p {
                text-decoration: underline;
                text-underline-offset: .2rem;
            }

            margin-right: .5rem;

        }
    }
}

.icon-wrapper {
    position: relative;
    display: inline-flex;
    padding: 0.05rem;
    border: 1px solid $border-color;
    border-radius: 100vw;
    scale: 1.2;
    background: $bg-color;
    transition: margin .3s;
}

.icons {

    border-radius: 100vw;
    padding: .3rem;
    margin: .1rem;
    background: $border-color;
}