@use "../utils" as *;

.profile {
    width: $content-width;
    display: flex;
    justify-content: space-between;

    .p-pic {
        width: 12rem;
        aspect-ratio: 1;
        @extend %border-left-right;
        display: grid;
        place-items: center;

        @media only screen and (max-width: 768px) {
            width: 10rem;
            aspect-ratio: 1;

        }

        .frame-out {
            display: grid;
            place-items: center;
            aspect-ratio: 1;
            padding: .2rem;
            @extend %border-top-bottom;
            @extend %border-left-right;
            border-radius: 50%;
            background: $bg-color;
            scale: 1.1;
            position: relative;
            z-index: 7;

        }

        .frame {
            background: green;
            border-radius: 50%;
            overflow: hidden;

        }

        img {
            scale: 1.5;
            width: 96%;
            padding: .1rem;
            border-radius: 50%;
            position: relative;


        }
    }

    .p-details {
        display: flex;
        flex-direction: column;
        justify-content: end;

        width: 80%;

        p {
            padding: .3rem 1rem;
            @extend %font-sec;
            opacity: .6;


        }

        .name {
            @extend %border-top-bottom;
            font-size: 2.7rem !important;
            @extend %font-pri;
            padding: 0 1rem;

            @media only screen and (max-width: 768px) {
                font-size: 2.2rem !important;
            }
        }

        .title {
            @extend %font-sec;
            padding: .5rem 1rem;
            position: relative;
            overflow: hidden;
            height: 2rem;

            span {
                display: block;
                height: 100%;
                margin-bottom: 1rem;
                animation: role-changer 3s infinite;
            }
        }
    }
}


@keyframes role-changer {
    25% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-200%);
    }

    75% {
        transform: translateY(-200%);

    }

}