@use "../utils" as *;

.projects {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    @extend %border-top-bottom;

    &__accordion {
        width: $content-width;
        @extend %border-left-right;
    }

    &__item {
        @extend %border-top-bottom;
        overflow: hidden;
        transition: 0.3s ease;
        background: $bg-color;

        .project-t-d {
            display: flex;
            flex-direction: column;

            h3 {
                @extend %font-pri;
                font-size: .9rem;
                letter-spacing: 0.1rem;
            }

            p {
                margin: 0;
            }
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding: 1rem;
        @extend %border-top-bottom;



        &:hover {
            background: $bg-hover;
        }

        &>* {
            margin: 0;
        }
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 1rem;

        .projects__icon-left {
            font-size: 1.5rem;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__icon {
        font-size: 1.2rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        transition: transform 0.3s ease;
    }

    &__item.active .projects__icon {
        transform: rotate(180deg);
    }

    &__date {
        @extend %font-sec;
        font-size: 0.85rem !important;
        opacity: 0.6;
        margin-left: 0.2rem;
    }

    &__content {
        @extend %font-sec;
        max-height: 0;
        overflow: hidden;
        padding: 0 1rem;
        margin: 0;
        transition: max-height 0.4s ease, padding 0.4s ease, margin 0.4s ease;

        ul {
            margin: 1rem 0;
            padding-left: 1.2rem;
            list-style: none;
        }
    }

    &__content.open {
        max-height: 1000px;
        padding: 1rem;
    }

    &__description {
        margin-bottom: 0.5rem;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        opacity: 0.7;
    }

    &__tag {
        padding: 0.4rem 1rem;
        font-size: 0.75rem;
        background: $bg-hover;
        border: 1px solid $border-color;
        border-radius: 0.5rem;
    }

    &__tooltip-wrapper {
        position: relative;
        display: inline-flex;
        align-items: center;
        scale: .7
    }

    &__tooltip {
        @extend %font-sec;
        position: absolute;
        left: -5%;
        background: $bg-color;
        padding: 0.3rem 0.6rem;
        font-size: 0.7rem !important;
        letter-spacing: 0.05rem;
        border-radius: 4px;
        white-space: nowrap;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s ease, transform 0.2s ease;
        scale: 1.3;
    }

    &__tooltip-wrapper:hover &__tooltip {
        opacity: 1;
        transform: translateX(-110%) scale(1.2);
    }
}

@media only screen and (max-width: 768px) {
    .projects__tooltip {
        display: none;
    }
}