$border-color: #2d2d2d78;
$bg-color: #07080c;
$bg-hover: #13151e;

// Borders...
%border-top-bottom {
  border-top: 1.5px solid $border-color;
  border-bottom: 1.5px solid $border-color;
}

%border-left-right {
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
}

// Fonts...

@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans:wght@300..700&family=Stint+Ultra+Expanded&display=swap');

%font-pri {
  font-family: "Stint Ultra Expanded", serif;
  font-size: 1.5rem;

  letter-spacing: 3px;
  font-weight: 900;
}

%font-sec {
  font-family: "Pontano Sans", sans-serif;
  letter-spacing: 2px;
  font-size: .95rem !important;
}


.empty {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem;
  overflow: hidden;
  z-index: 1;
  @extend %border-top-bottom;


  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: repeating-linear-gradient(315deg,
        $border-color 0,
        $border-color 1px,
        transparent 1.5px,
        transparent 7px);
    z-index: 0;
    transform: translateX(0);
  }
}