@use "./components/navbar";
@use "./components/profile";
@use "./utils" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    background: #0c0c0c;
}

.empty {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem;
  overflow: hidden;
  z-index: 1;
  @extend %border-top-bottom;


  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: repeating-linear-gradient(
      315deg,
      $separator-color 0,
      $separator-color 1px,
      transparent 1.5px,
      transparent 7px
    );
    z-index: 0;
    transform: translateX(0);
  }
}

main {
    width: 65vw;
    margin: 1rem 0;
    @extend %border-left-right;

    .cover-bg {
        margin-top: 2.5rem;
        width: 65vw;
        height: 8rem;
  
    }

    .portfolio {
        width: 100vw;
        @extend %border-top-bottom;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 0;

        .separator {
            width: 100vw;
            height: 1.5rem;
        }


    }
}