@use "./components/navbar";
@use "./components/profile";
@use "./components/about";
@use "./components/personal-info";
@use "./components/blogs";
@use "./components/footer";
@use "./utils" as *;
@use "./responsive.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    h1 {
        width: $content-width;
        @extend %font-pri;
        @extend %border-left-right;
        padding: 1rem 0.8rem .3rem;

    }

a {
    text-decoration: none;
    color: white;
    transition: margin-left .2s;

}

body {
    overflow-x: hidden;
    background: $bg-color;

}

#root {
    width: 100vw;
    color: white;
    display: flex;
    justify-content: center;
    background: $bg-color;

}


main {
    width: $content-width;
    margin: 1rem 0;
    @extend %border-left-right;



    .top {
        background: $bg-color;
        height: 3rem;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 8;
        display: flex;
        justify-content: center;

        .inner {
            width: $content-width;
            background: green;
            height: 100%;
            background: $bg-color;
            @extend %border-left-right;
        }
    }

    .cover-bg {
        margin-top: 2.5rem;
        width: $content-width;
        height: 12rem;

    }

    .portfolio {
        width: 100vw;
        @extend %border-top-bottom;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 0;

    }

    .blogs {
        width: 100vw;
        @extend %border-top-bottom;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 0;
        padding-top: 2.6rem;
    }
}

@media only screen and (max-width: 768px) {
    $content-width: 97vw;

    main,
    main .cover-bg,
    main .top .inner {
        width: $content-width;
    }

    main .cover-bg {
        height: 8rem;
    }
}