@use "./utils" as *;

@media only screen and (max-width: 768px) {
    $content-width: 97vw;

    .navbar__list,
    .personal-info,
    .profile,
    .blog-container,
    .blog-head h2,
    .single-blog,
    .jump-back,
    .projects__accordion,
    .footer,
    main h1 {
        width: $content-width;

    }

    .navbar__list {
        padding-right: 1rem;
    }

    .personal-info {
        display: flex;
        flex-direction: column;
        height: fit-content;

        .left {
            ul {
                gap: .5rem;
            }
        }
    }

    .about__list {

        li {
            width: $content-width;
            padding: .5rem 1rem;


        }
    }


}